@charset "utf-8";
/*  
theNet v0.0.1 
Last Updated: 2020-01-21
Author: Yang Jong Hoon
*/
*{margin:0;padding:0;box-sizing:border-box}
body{overflow-x:hidden}
img{vertical-align: top;}
li{list-style:none}
.blind{overflow:hidden;position:absolute;top:-9999px;left:9999px;width:0 !important;height:0 !important;margin:0 !important;padding:0 !important;font-size:0;line-height:0;text-indent:-10000px}
#header{width:1920px;margin:0 auto}
#footer{width:100%;padding-top:500px;background-color:#f1f4fb}
#footer .wrapper{width:1920px;margin:0 auto}
#contents{width:100%;min-width:1920px;background-color:#f1f4fb}
#content-wrap{width:1410px;margin:0 auto;padding:140px 0}
#content-wrap>div{padding-bottom:40px;background:url(../images/bg_bar.png) no-repeat 92px bottom}

#level-01 .title a{pointer-events:none}
.mb40{margin-bottom:40px}
.pt100{padding-top:100px}
.title{position:relative;padding-left:238px}

#level-01 .title{background:url(../images/bg_bar.png) no-repeat 92px bottom}
#level-02 .title{background:url(../images/bg_bar.gif) repeat-y 92px 0}
#level-03 .title{background:url(../images/bg_bar.png) no-repeat 92px 0}

#content-wrap>div .step{position:absolute;left:50px;top:50%;width:86px;height:86px;transform:translate(0, -50%)}
#level-02 .step{background:url(../images/step-level-02.png) no-repeat 0 0}
#level-03 .step{background:url(../images/step-level-03.png) no-repeat 0 0}
#content-wrap>div.active .step{left:0;width:180px;height:70px}
#level-01.active .step{background:url(../images/step-level-01-active.png) no-repeat 0 0}
#level-02.active .step{background:url(../images/step-level-02-active.png) no-repeat 0 0}
#level-03.active .step{background:url(../images/step-level-03-active.png) no-repeat 0 0}

.toggle-ele{display: none;position:relative;padding-left:240px}
.toggle-ele:after{content:'';clear:both;display:block}
#level-01 .toggle-ele,#level-02 .toggle-ele{overflow: hidden;height:532px;    background:url(../images/bg_bar.gif),url(../images/bg_toggle-ele.png);    background-repeat:repeat-y,no-repeat;    background-position:92px 0,right 0}

#level-01 .elv-map{position: absolute;left: 58%;top: 50%;height: 531px;transform: translate(-50%, -50%) scale(1.5);opacity:0;z-index: 10;transition:all 1.5s}
#level-01 .elv-map img{height: 100%}
button{display:none;position: absolute;width: 118px;height:118px ;border:0;cursor: pointer;outline: none;}
button.alert-01{background:url(../images/alert-01.png) no-repeat 0 0;animation:blink .75s ease-in-out infinite alternate}
button.alert-02{background:url(../images/alert-02.png) no-repeat 0 0}
button.alert-03{background:url(../images/alert-03.png) no-repeat 0 0}
@keyframes blink{
    0% {opacity:0}
    100% {opacity:1}
}
#level-01 .elv-map button.alert-01{top:30px;left:210px;}
#level-01 .elv-map button.alert-02{top:370px;left:200px;}
#level-01 .elv-map button.alert-03{top:150px;left:50px;}

#level-01.disabled .elv-map{opacity: .3 !important;}
#level-01.disabled .toggle-ele button{pointer-events:none;animation: none;}
#level-01 .title button.reload{display:block;position: absolute;right:32px;bottom:25px;width:52px;height:52px;border:0;cursor:pointer;background:url(../images/btn_reload.png) no-repeat 0 0;transition: all 1s;}
#level-01 .title button.reload:hover{transform: rotate(-360deg)}
#level-01 .minimap{position: absolute;bottom: 30px;left: 19%}

#level-02 .vr-area button.alert-01{top:85px;left:600px;animation:blink .75s ease-in-out infinite alternate}
#level-02 .vr-area{display:none;position: relative;width: 100%;    height: 100%;}
#level-02 .vr-area img{    position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);}

#level-03{background:none !important;}
#level-03 .toggle-ele{height:400px;padding-top:25px}
#level-03 .toggle-ele li{position:relative;float:left;width:23%;margin-right:30px}
#level-03 .toggle-ele li:last-child{margin-right:0}
#level-03 .toggle-ele li a{display:block;position:relative;padding-top:10px}
#level-03 .toggle-ele li a img{position: absolute ;top:10px;left:0;;border-radius: 12.5px;transition:top 0.3s ease-out,box-shadow 0.3s ease-out}
#level-03 .toggle-ele li a:hover img{top:0;box-shadow:0 10px 30px -10px grey;}
