@charset "utf-8";

@font-face{font-family:noto;font-weight:300;src:url('/css/fonts/NotoSans-DemiLight.eot');/* ie호환성 */src:url('/css/fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype');src:local('NotoSans-DemiLight'),url('/css/fonts/NotoSans-DemiLight.woff2') format('woff2'),url('/css/fonts/NotoSans-DemiLight.woff') format('woff'),url('/css/fonts/NotoSans-DemiLight.otf') format('truetype')}
@font-face{font-family:noto;font-weight:400;src:url('/css/fonts/NotoSans-Regular.eot');/* ie호환성 */src:url('/css/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype');src:local('NotoSans-Regular'),url('/css/fonts/NotoSans-Regular.woff2') format('woff2'),url('/css/fonts/NotoSans-Regular.woff') format('woff'),url('/css/fonts/NotoSans-Regular.otf') format('truetype')}
@font-face{font-family:noto;font-weight:500;src:url('/css/fonts/NotoSans-Medium.eot');/* ie호환성 */src:url('/css/fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype');src:local('NotoSans-Medium'),url('/css/fonts/NotoSans-Medium.woff2') format('woff2'),url('/css/fonts/NotoSans-Medium.woff') format('woff'),url('/css/fonts/NotoSans-Medium.otf') format('truetype')}
@font-face{font-family:noto;font-weight:700;src:url('/css/fonts/NotoSans-Bold.eot');/* ie호환성 */src:url('/css/fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype');src:local('NotoSans-Bold'),url('/css/fonts/NotoSans-Bold.woff2') format('woff2'),url('/css/fonts/NotoSans-Bold.woff') format('woff'),url('/css/fonts/NotoSans-Bold.otf') format('truetype')}

html,body,p,h1,h2,h3,h4,h5,h6,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,hr,article,aside,hgroup,header,footer,figure,figcaption,nav,section,time,mark,canvas,video,audio,details,summary{margin:0;padding:0}
html *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;letter-spacing:-.5px}
article,aside,hgroup,header,footer,figure,figcaption,nav,section,time,mark,details,summary{display:block}
audio,canvas,video{display:inline-block}
body,input,textarea,select,button,table{background-color:#fff;color:#222;/* font-size:1em; */font-family:noto,sans-serif;font-weight:400;word-break:break-word/*; word-break:keep-all*/}
img,fieldset{border:0}
img,input,select{vertical-align:middle}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;vertical-align:middle}
a:hover,a:active,a:focus{text-decoration:none}
button{overflow:hidden;border:0;background:none;cursor:pointer}
table{width:100%;border-collapse:collapse;border-spacing:0}
legend,caption{visibility:hidden;overflow:hidden;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
textarea{resize:none;vertical-align:middle}
body {
  overflow-x:hidden;
}

.container {
  padding-top:110px;
  border-top:10px solid #2289e1;
}
header {
  position: fixed;
  top:0;
  left:50%;
  width:1920px;
  max-width:1920px;
  height:120px;
  margin-left:-960px;
  text-align:center;
  transition:all .2s;
  z-index: 100;
}
header.sticky {
  left:0;
  width:100%;
  max-width:100%;
  height:80px;
  margin-left:0;
  background:#fff;
}
header.sticky::after {
  content:'';
  display:block;
  position: absolute;
  top:0;
  left:0;
  width:20px;
  height:80px;
  background:#2289e1;
}
header.sticky .logo {
  position:absolute;
  top:50%;
  left:57px;
  margin-top:-17px;
}
header.sticky .headContact {display:none;}
header.sticky nav {margin-top:32px;}
header.sticky nav .infoAllmenu {top:30px;}
.logo {
  position:absolute;
  top:50%;
  left:57px;
}
.headContact {
  position:absolute;
  top:31px;
  right:50px;
}
.headContact .cont {float:left;}
.headContact a {
  display:block;
  line-height:18px;
}
.headContact .language {
  float:left;
  position:relative;
  margin-left:21px;
  padding-left:28px;
}
.headContact .language::after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:20px;
  height:20px;
  background:url(../images/language_icon.png) no-repeat left top;
}

nav {margin-top:72px;}
nav .menu {
  display:flex;
  justify-content: center;
}
nav .menu li {
  position:relative;
  height:48px;
}
nav .menu li + li {margin-left:72px;}
nav .menu li a {
  color:#222;
  font-size:18px;
  font-weight:bold;
}
nav .menu li .smenu {
  display:none;
}
nav .menu li a:hover {
  color:#2289e1;
}
nav .menu li:hover::after {
  content:'';
  display:block;
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:6px;
  background:#2289e1;
}
nav .menu li:hover .smenu {
  display:block;
  position:absolute;
  top:48px;
  left:50%;
  margin-left:-100px;
}

nav .infoAllmenu {
  float:right;
  margin:-50px 50px 0 0;
}
nav .infoAllmenu .info{
  float:left;
}
nav .infoAllmenu .info strong {
  color:#1188cd;
  font-size:16px;
  line-height:31px;
  font-weight:bold;
}
nav .infoAllmenu .info span {
  color:#222;
  font-size:16px;
  line-height:31px;
}
nav .infoAllmenu .info .manage {
  position:relative;
  display:inline-block;
  padding-right:20px;
}
nav .infoAllmenu .info .manage::after {
  content:'';
  display:block;
  position:absolute;
  top:10px;
  right:0;
  width:11px;
  height:8px;
  background:url(../images/bl_arrow.png) no-repeat left top;
}
nav .infoAllmenu .info .manage li {
  height:48px;
  vertical-align:middle;
}
nav .infoAllmenu .info .manage li:hover .smy {
  display:block;
  position:absolute;
  top:48px;
  left:50%;
  margin-left:-100px;
}
nav .infoAllmenu .info .manage .smy {
  display:none;
}
nav .infoAllmenu .info .manage li a {
  color:#888;
  font-size:12px;
  line-height:31px;
}
nav .infoAllmenu .allMenuWrap {
  float:left;
  width:120px;
  margin-left:33px;
  padding-left:27px;
  border-left:1px solid #d3d3d3;
}
nav .infoAllmenu .allMenuWrap button {
  float:left;
  font-size:0;
}
nav .infoAllmenu .allMenuWrap .search {
  width:30px;
  height:31px;
  background:url(../images/icon_search.png) no-repeat left top;
}
nav .infoAllmenu .allMenuWrap .allMenu {
  width:36px;
  height:26px;
  margin-left:26px;
  background:url(../images/icon_menu.png) no-repeat left top;
}
nav .infoAllmenu .allMenuWrap .change {
  width:28px;
  height:27px;
  margin-left:26px;
  background:url(../images/icon_close.png) no-repeat left top;
}
nav .infoAllmenu .allMenuWrap .sitemap {
  display:none;
  position:absolute;
  top:120px;
  left:0;
  width:100%;
}
nav .infoAllmenu .allMenuWrap .sitemap.active{
  display:block;
  top:80px;
}
.visual {
  position:relative;
  overflow:hidden;
  max-width:1920px;
  margin:0 auto;
}
.visual .swiper-slide .inner {
  position: relative;
	display: block;
	width: 1920px;
	height: 759px;
	margin: 0 auto;
}
.visual .swiper-slide .visualTxt {
  position:absolute;
  top:122px;
  left:150px;
}
.visual .swiper-slide .visualTxt h2 {
  margin-top:35px;
}
.visual .swiper-slide .visualTxt .mtxt {
  margin-top:30px;
}
.visual .swiper-slide .visualTxt .stxt {
  margin-top:60px;
}
.visual .swiper-slide .visualTxt .btn {
  margin:100px 0 0 5px;
}
.visual .visualQuick {
  position:absolute;
  top:0;
  right:0;
  z-index: 2;
}
.visual .slideControl {
  position:absolute;
  right:0;
  bottom:0;
  height:80px;
  z-index: 10;
}
.visual .slideControl .btnPlay {
  display:inline-block;
  width:18px;
  height:25px;
  margin:24px 24px 0 0;
  background:url(../images/icon_play.png) no-repeat left top;
  font-size:0;
}
.visual .slideControl .btnStop {
  display:inline-block;
  width:14px;
  height:22px;
  margin:24px 34px 0 0;
  background:url(../images/icon_stop.png) no-repeat left top;
  font-size:0;
}
.visual .slideControl .slideBtn {
  display:inline-block;
  width:200px;
  height:80px;
  background:#2289e1;
  vertical-align:top;
}
.visual .slideControl .slideBtn .btnPrev {
  width:22px;
  height:40px;
  margin:20px 0 0 50px;
  background:url(../images/arrow_prev.png) no-repeat left top;
  font-size:0;
}
.visual .slideControl .slideBtn .btnNext {
  width:22px;
  height:40px;
  margin-left:50px;
  background:url(../images/arrow_next.png) no-repeat left top;
  font-size:0;
}
.visual .slideControl .slidePage {
  display:inline-block;
  width:544px;
  height:80px;
  margin-left:-5px;
  padding:27px 0 0 27px;
  background:#fff;
  vertical-align:top;
}
.visual .slideControl .slidePage .swiper-pagination-bullet {
  width:auto;
  height:auto;
  background:transparent;
}
.visual .slideControl .slidePage .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left:20px;}
.visual .slideControl .slidePage .swiper-pagination-bullet-active {
  color:#007aff;
  font-weight:bold;
}
.slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.slide-title {
  font-size: 4rem;
  line-height: 1;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #000;
  z-index: 100;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}
.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: inline-block;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
    color:#1188cd;
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
    display:inline-block;
  width: 103px;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  z-index: 1000;
  transition: all 0.3s ease;
  color: #000;
}
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}
.pagination-number {
  font-size: 1.8rem;
  color: #ccc;
  font-family: 'Oswald', sans-serif;
  padding: 0 0.5rem;
}
.pagination-separator {
  display: none;
  position: relative;
  height: 4px;
  margin-top:20px;
  background: #ccc;
  transition: all 0.3s ease;
  vertical-align:top;
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1188cd;
  transform-origin: 0 0;
}
  

.smalSlide {
  position:relative;
  margin:80px auto 0;
}
.smalSlide .myInfo {
  position:absolute;
  top:0;
  left:0;
  width:545px;
  padding:20px 0 0 180px;
}
.smalSlide .myInfo .slideBtn {margin:34px 0 32px;}
.smalSlide .myInfo .slideBtn .btnPrev {
  width:53px;
  height:53px;
  background:url(../images/elevator_prev.png) no-repeat center center;
  font-size:0;
}
.smalSlide .myInfo .slideBtn .btnPrev:hover {
  border:2px solid #4f4f4f;
  border-radius:100%;
}
.smalSlide .myInfo .slideBtn .btnNext {
  width:53px;
  height:53px;
  background:url(../images/elevator_next.png) no-repeat center center;
  font-size:0;
}
.smalSlide .myInfo .slideBtn .btnNext:hover {
  border:2px solid #4f4f4f;
  border-radius:100%;
}
.smalSlide .slide {
  overflow:hidden;
  margin-left:545px;
  padding:30px 10px 40px;
}
.smalSlide .slide .swiper-wrapper .swiper-slide {text-align:center;}
.smalSlide .slide .swiper-wrapper .swiper-slide a {
  position:relative;
  display:inline-block;
  padding:9px;
  transition:all .2s;
}
.smalSlide .slide .swiper-wrapper .swiper-slide a:hover {
  margin-top:-10px;
  transform: scale(1.05);
}
.smalSlide .slide .swiper-wrapper .swiper-slide a:hover::after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border:1px solid #2289e1;
  box-shadow: 0 10px 10px rgba(26, 64, 96, .15);
}
.smalSlide .slide .swiper-wrapper .swiper-slide a::before {
  content:'';
  display:block;
  position:absolute;
  left:50%;
  bottom:25px;
  width:86px;
  height:10px;
  margin-left:-43px;
  background:url(../images/elevator_grap.png) no-repeat left top;
  opacity: 0;
  transition: all .5s;
}
.smalSlide .slide .swiper-wrapper .swiper-slide a:hover::before {
  opacity: 1;
}

.bestElevator {
  position:relative;
  max-width:1920px;
  margin:0 auto;
  background:url(../images/elevator_bg.png) no-repeat left top;
}
.bestElevator .elevWrap {
  position:relative;
  top:0;
  left:50%;
  width:1250px;
  height:877px;
  margin-left:-625px;
}
.bestElevator .elevWrap .elev {
  position: absolute;
  top:50%;
  left:0;
  margin-top:-438px;
}
.bestElevator .elevWrap .bestWrap {
  position:absolute;
  top:50px;
  right:0;
}
.bestElevator .elevWrap .bestWrap h2 {
  margin:30px 0 0 65px;
}
.bestElevator .elevWrap .bestWrap .mtxt {
  margin:30px 0 0 65px;
}
.bestElevator .elevWrap .bestWrap .stxt {
  margin:45px 0 0 65px;
}
.bestElevator .elevWrap .bestWrap .bestBtn {margin:80px 0 0 64px;}

.elevatorSlide {
  position:relative;
  overflow:hidden;
  max-width:1920px;
  height:839px;
  margin:0 auto;
  padding-top:148px;
  background:url(../images/elevator_slide_img2.png) no-repeat left top;
}
.elevatorSlide .mlTxt {
  position:absolute;
  top:94px;
  left:292px;
  padding:104px 0 0 82px;
  z-index:3;
}
.elevatorSlide .mlTxt p {
  color:#fff;
  font-size:56px;
  font-weight:bold;
}
.elevatorSlide .mlTxt .btn {margin-top:80px;}
.elevatorSlide .slide {
  position:relative;
  padding-left:1000px;
}
.elevatorSlide .slide .ovSlide {
  overflow:hidden;
  width:520px;
  text-align:center;
}
.elevatorSlide .slide .ovSlide strong {
  display:block;
  margin-top:37px;
  color:#fff;
  font-size:32px;
}
.elevatorSlide .slide .ovSlide p {
  margin-top:9px;
  color:#fff;
  font-size:18px;
  line-height:32px;
}
.elevatorSlide .slide .slideBtn {
  position:absolute;
  top:0;
  left:1000px;
  width:520px;
  z-index:2;
}
.elevatorSlide .slide .slideBtn button {
  position:absolute;
  top:322px;
  font-size:0;
}
.elevatorSlide .slide .slideBtn .btnPrev {
  left:0;
  width:22px;
  height:40px;
  background:url(../images/arrow_prev.png) no-repeat left top;
}
.elevatorSlide .slide .slideBtn .btnNext {
  right:0;
  width:22px;
  height:40px;
  background:url(../images/arrow_next.png) no-repeat left top;
}
.elevatorSlide .slide .slideControl {
  position:absolute;
  top:493px;
  left:0;
  width:100%;
}
.elevatorSlide .slide .slideControl::after {
  content:'';
  position:absolute;
  top:17px;
  left:0;
  width:100%;
  height:1px;
  background:rgba(255, 255, 255, .3);
}
.elevatorSlide .slide .slideControl .slidePage {
  display:block;
  width:80%;
  margin:0 auto;
}
.elevatorSlide .slide .slideControl .slidePage span {
  display:inline-block;
  width:25%;
  text-align:center;
}
.elevatorSlide .slide .slideControl .slidePage span button {
  position:relative;
  width:100%;
  height:100px;
  background:none;
  text-align:center;
  opacity:1;
}
.elevatorSlide .slide .slideControl .slidePage .swiper-pagination-bullet::before {
  content:'';
  position:absolute;
  top:8px;
  left:50%;
  width:17px;
  height:17px;
  margin-left:-8px;
  background:url(../images/elevator_off.png) no-repeat left top;
}
.elevatorSlide .slide .slideControl .slidePage .swiper-pagination-bullet-active::after {
  content:'';
  position:absolute;
  top:0;
  left:50%;
  width:35px;
  height:35px;
  margin-left:-17px;
  background:url(../images/elevator_on.png) no-repeat left top;
}

.report {
  position:relative;
  padding:80px 0 110px;
  background:#f3f3f4;
}
.report .myInfo {
  position:absolute;
  top:100px;
  left:0;
  width:545px;
  padding:0 0 0 180px;
}
.report .myInfo .slideBtn {
  margin:34px 0 32px;
}
.report .myInfo .slideBtn .btnPrev {
  width:53px;
  height:53px;
  background:url(../images/elevator_prev.png) no-repeat center center;
  font-size:0;
}
.report .myInfo .slideBtn .btnPrev:hover {
  border:2px solid #4f4f4f;
  border-radius:100%;
}
.report .myInfo .slideBtn .btnNext {
  width:53px;
  height:53px;
  background:url(../images/elevator_next.png) no-repeat center center;
  font-size:0;
}
.report .myInfo .slideBtn .btnNext:hover {
  border:2px solid #4f4f4f;
  border-radius:100%;
}
.report .slide {
  overflow:hidden;
  margin-left:545px;
  padding:20px 0;
}
.report .slide .swiper-wrapper .swiper-slide {text-align:center;}
.report .slide .swiper-wrapper .swiper-slide a {
  position:relative;
  display:inline-block;
  transition:all .5s ease;
  box-shadow:0;
}
.report .slide .swiper-wrapper .swiper-slide a i {
  position:absolute;
  top:-1px;
  right:-2px;
  opacity: 0;
}
.report .slide .swiper-wrapper .swiper-slide a:hover i {
  opacity: 1;
}
.report .slide .swiper-wrapper .swiper-slide a:hover {
  margin-top:-19px;
  /* box-shadow:0 0 1px 1px #2289e1; */
}
.report .slide .swiper-wrapper .swiper-slide a:hover::after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  box-shadow: 0 19px 20px rgba(26, 64, 96, .1);
  z-index:1;
  background: url('../images/bs_txt_on.png') 0 0 no-repeat;
}

.remote {
  position:relative;
  max-width:1920px;
  margin: 100px auto 0;
  padding-top:666px;
  background:url(../images/remote_bg.png) no-repeat left top;
}
.remote .remoteTB {
  position:absolute;
  top:154px;
  left:375px;
}
.remote .remoteTB .remoteBtn {margin-top:93px;}
.remote .remoteAc {
  position:absolute;
  top:0;
  right:454px;
}
.remote .remoteAc img {
  width:155%;
}

.remote .removeWrap {
  position:relative;
  height:82vh;
}
.remote .removeWrap .pst {position:absolute;}
.remote .removeWrap .removeImg01 {
  left:16%;
  top:10%;
}
.remote .removeWrap .removeImg02 {
  left:33%;
  top:0;
}
.remote .removeWrap .removeImg03 {
  left:59%;
  top:18%;
}
.remote .removeWrap .removeImg04 {
  left:26%;
  bottom:0;
}

.contact {
  margin:80px auto;
  padding:4rem 0;
  text-align:center;
}
.contact .contact_txt {
  padding:30px 0;
}

.quickMenu {
  display:none;
  position: fixed;
  top:50%;
  right:-543px;
  margin-top:-250px;
  padding-left:60px;
  z-index:100;
  transition:all .2s;
}
.quickMenu.open {
  right:0;
}
.quickMenu .quickBtn {
  position:absolute;
  top:0;
  left:0;
}

footer {
  max-width:1920px;
  margin:100px auto 0;
  background:#272727;
  text-align:center;
}


.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2
}

@keyframes fadeInUp2 {
  0% {
      opacity: 0;
      transform: translate3d(0,10%,0)
  }

  100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
  }
}